*{
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
    color: seashell;
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 15px;
    padding-bottom: 10px;
}

header>img{
    margin-left: 10px;
}

.section1{
    background-image: url('./img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    margin-left: 70px;
    background-size: cover;
  background-position: center;
    /* margin-right: 50px; */
}

.banner{
    z-index: 10px;
    position:relative;
    top: 350px;
    width: 1200px;
    text-align: center;
}

h2{
    font-size: 32px;
   padding-top: 8px;
   margin-bottom: 15px;
}

.section2{
    /* height: 1000px; */
    margin-top: 32px;
    
}
.content{
    text-align: center;
    position: relative;
    /* height: 1000px; */
    /* width: 1000px; */
}

.row{
    position: relative;
    left: 160px;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

.col img{
    width: 300px;
    height: 200px;
   
}

.col{
 margin: 15px 10px 25px 10px;
}

.location{
    height: 550px;
    /* border: 1px solid red; */
    margin: 50px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img-locations-background.jpg');
}

.card{
    height: 300px;
    width: 300px;
    /* border: 1px solid green; */
    margin-right: 40px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}

.section3{
    position: relative;
}

.lt{
    position: absolute;
    left: 580px;
    top: 70px;
    opacity: 1;
}

h3{
    font-size: 28px;
    margin: 20px;
    opacity: 1;
}

h4{
    margin-top: 37px;
    opacity: 1;
}

footer{
    height: 250px;
    /* border: 1px solid red; */
}

.f1{
    text-align: center;
    height: 200px;
}

.f2{
    margin-left: 20px;
}